{
  "presets": [
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": "3.35" }],
    "@babel/preset-react",
    "@babel/preset-typescript",
    "@linaria/babel-preset"
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}
